body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-width: 1000px; */
  display: block;
}
.App {
  margin: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.products--item {
  width: calc(33% - 16px);
  margin: 8px;
  
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
 }
.categories {
  display: flex;
  
}
.categories--item {
  
  background-color: #efeff0;
  cursor: pointer;
  font-weight: 700;
  margin: 2px;
  padding: 12px;
 
}
body {
  -webkit-font-smoothing: antialiased;
  
  font-family: HelveticaNow,Helvetica,sans-serif;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
.categories--item-selected {
  background-color: #bdbdc1;
}
.categories--item:hover {
  background-color: #d6d6d8;
}
.product--image {
  
  margin-bottom: auto;
  margin-top: auto;
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}

img {
  border-style: none;
 
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.product--title {
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.products {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}
.product {
  display: flex;
  flex-direction: column;
  height: 100%;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  /* flex-direction: column;  */
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
a {
  background-color: transparent;
}
.title-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.title-container--title {
  margin-right: auto;
}


.product-details--information {
  align-items: end;
  display: flex;
  flex-direction: column;
}
.product-details--information {
  flex-direction: row-reverse;
 
  /* text-align: center; */
  
}
.product-details--image {
  min-width: 50%;
}
.product-image--container {
  position: relative;
 
}
/* p {
  margin: 0em 0em 20em 0em;
  display: block;

  
} */
h1 {
  font-size: 2em;
  margin: .67em 0;
}
.product-details--information img {
  max-height: 80vh;
  order: 0;
 
}
.product-details--description {
  margin: 0em 0em 20em 0em;
  display: block;
  
}
.btn_css{
  background-color: #efeff0;
  cursor: pointer;
  font-weight: 700;
  margin: 2px;
  padding: 12px;
  border: none;
}
.btn_css:hover {
  background-color: #d6d6d8;
  border: none;
}
.NotFoundPage{
  text-align: center;

}
.colorP{
color: red;
font-size: 26px;
}
.error-msg{
  color: red;
  font-size: 50px;
  font-weight: 400;
}
.product-image--favourite-container {
  background-color: none;
  cursor: pointer;
  height: 20px;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 20px;
  width: 20px;
  color: black;
}
.product-image--container {
  position: relative;
}
.product-image--favourite {
  color: black;
}
.nav-link {
  margin-left: 4px;
  margin-right: 4px;
}
.nav {
  margin-left: 8px;
}
.btn-for-svg{
  border: none;
  background: blue;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='heart' class='svg-inline--fa fa-heart fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='currentColor' d='M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z'%3e%3c/path%3e%3c/svg%3e"); 
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.btn-for-svg-fovourite{
  border: none;
  background: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='heart' class='svg-inline--fa fa-heart fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='currentColor' d='M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}